

h1{
    color: #3f80eb;
    background-color: #dff5f5;
    text-align: right;
}

a{
    color: #f0f000;
}

ul{
    background-color: #2f007f;
}

body{
    background-image: url(./img/moorish-pattern_644416-582.jpg);
}