body{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
#top{
    background-color: #efefef;
    border: 3px solid red;
    min-height: 80px;
    margin-top: 5px;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.link{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}
#rubrik_1{
    background-color: aqua;
    border: 3px solid black; 
    padding-left: 60px;
    padding-right: 60px;
}
#middle{
    background-color: #efefef;
    border: 3px solid orange;
    font-family: monospace;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-between;
}
#vänster_rubrik{
    background-color: yellow;
    border: 3px solid black;
    min-width: 49%;
    
}
#höger_rubrik{
    background-color: pink;
    border: 3px solid black;
    min-width: 49%;

}
#bottom{
    background-color: #efefef;
    border: 3px solid yellow;
    font-family: sans-serif, monospace;
}
