body{
    background-color: bisque;
}
.grid-container{
    background-color: rgb(243, 208, 120) ;
    display: grid; 
    grid-template-columns: 25vh 75vh; 
    grid-template-rows: 3fr 1fr 9fr;
    gap: 10px;
    border-radius: 10px;
}
.grid-item{
    background-color: rgb(219, 181, 84);
    border-radius: 10px;
}
